body{
    margin: 0;
    padding: 0;
}
div {
    font-family: Helvetica;
    color: black;
    font-size: 20px;
    padding: 5px;
 }
 
 nav{
    background-color:rgb(235, 253, 253);
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

 }

.head{
    background-color:white;
    display:flex;
    flex-direction:row;
    justify-content: space-between 
}

.icon {
    width: 75px;
    height: 75px;
}

.item:hover{
    color: rgb(0, 255, 247);
    opacity: 0.5
 }

h2, h3, h4, h5 {
    font-size: 20px;
}

